<h1>Shortener</h1>

<div>
  <input type="text" placeholder="Name" [(ngModel)]='name'>
  <input type="text" placeholder="URL" [(ngModel)]='url'>
  <button (click)= "onSubmit()" >Shorten</button>
</div>


<button (click)="onReset()">Reset</button>

<ul>
  <li *ngFor="let short of shortenings" class="card">
      {{ short.name }}
    <div class="buttons">
      <button routerLink ='/shortener/:{{short.id}}' (click)="onView()">View details</button>
      <button (click)="onDelete()">Delete</button>
    </div>
  </li>
</ul>