.header-reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
}

button, input {
    margin: 5px;
}

.delete-button {
    background-color: rgb(204, 7, 7);
    color: white;
}
