ul li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
}

.buttons button {
    margin: 5px;
}

input {
    margin:0 10px 10px 0;
}