header {
    background-color: teal;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

h1:hover {
  cursor: pointer;
}
 
nav a {
  color: #fff;
  margin-right: 7px;
  text-decoration: none;
}
